// @import url('https://fonts.googleapis.com/css?family=Atomic+Age');

body {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        background: dodgerblue;
        color: white;

        display: flex;
        align-items: center;

        height: 3em;
        width: 100%;

        font-weight: 400;
        // font-family: 'Atomic Age', cursive;

        h1 {
            font-size: 1.5em;
            padding: 0 1em;
        }
    }
}